@model IEnumerable<Automarket.Domain.ViewModels.User.UserViewModel>

@{
    Layout = "_Layout";
    ViewBag.Title = "Пользователи";
}

<div class="card col-md-12" style="margin: 10px;">
    <div class="card-buttons-group">
        @if (User.IsInRole("Admin"))
        {
            <button class='btn btn-success' id='addUserId'>Добавить</button>   
        }
    </div>
</div>

<div style="padding: 10px;"></div>
<div class="card col-md-12">
    <table class="table table-striped">
        <thead class="table-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Логин</th>
            <th scope="col">Роль</th>
            <th scope="col">#</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in @Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Role</td>
                <td>
                    <form asp-controller="User" asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary" onclick="openModal({ url: '@Url.Action("", "User")', data: @user.Id })">
                        Посмотреть
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section pageScripts
{
    <script src="~/js/modal.js"></script>
    <script>
        let modal = $('#modal'); 
        
        $('#addUserId').on('click', function () {
           $.ajax({
              type: 'GET',
              url : '@Url.Action("Save")',
              success: function (response) {
                  modal.find(".modal-body").html(response);
                  modal.modal('show')
              },
              failure: function () {
                modal.modal('hide')
              }
          });
       });
        
       $('#saveBtn').on('click', function () {
           const data = $('#formSaveUser').serialize()
           $.ajax({
               type: 'POST',
               url: '@Url.Action("Save")',
               data: data,
               success: function (data) {
                   Swal.fire({
                       title: 'Информация',
                       text: data.description,
                       icon: 'success',
                       confirmButtonText: 'Окей'
                   })
               },
               error: function (response) {
                   Swal.fire({
                       title: 'Информация',
                       text: response.responseJSON.errorMessage,
                       icon: 'error',
                       confirmButtonText: 'Окей'
                   })
               }
           })
      });
    </script>
}