@model List<Automarket.Domain.Entity.Car>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<style>
    .card-buttons-group {
        text-align: right;
        padding: 10px;
    }
</style>

<div class="card-buttons-group">
    <button class="btn btn-danger" id='hideCardsId'>Скрыть</button>
    <button class='btn btn-success' id='showCardsId'>Показать</button>
</div>

<div style="padding: 10px;"></div>
@if (Model.Count == 0)
{
    <div class="card col-md-12">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://images.wallpaperscraft.ru/image/single/bmw_fary_podsvetka_137326_1280x720.jpg" 
                     class="img-fluid rounded-start rounded">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center">Список машин пуст :(</h5>
                    <p class="card-text">
                        Список пополниться позже, не расстраивайтесь
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 10px;"></div>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}
else
{
    <div class="row">
        @foreach (var car in Model)
        {
            <div class="row row-cols-1 col-md-4 text-center">
                <div class="col" style="padding: 10px;">
                    <div class="card">
                        <img src="https://images.wallpaperscraft.ru/image/single/mercedes_benz_s_class_w222_112850_800x600.jpg" class="card-img-top" alt="@car.Name">
                        <div class="card-body">
                            <h5 class="card-title">@car.Name</h5>
                            <p class="card-text">@car.Description</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Стоимость: @car.Price ₽</li>
                            <li class="list-group-item">@car.TypeCar</li>
                        </ul>
                        <div class="card-body">
                            <a asp-action="GetCar" asp-route-id="@car.Id" class="card-link">Перейти</a>
                            @* <a asp-controller="Basket" asp-action="Add" asp-route-id="@id" class="card-link">Добавить</a> *@
                            @if (User.IsInRole("Admin"))
                            {
                                <hr/>
                                <a asp-controller="Car" asp-action="Delete" asp-route-id="@car.Id" class="btn btn-danger">Удалить</a>
                                <a asp-controller="Car" asp-action="Save" asp-route-id="@car.Id" class="btn btn-primary">Изменить</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>   
}

@section pageScripts {
    <script>
        const hideCardElement = $('#hideCardsId');
        const showCardElement = $('#showCardsId');
        const cardElement = $('.card');
        
        const interval = 2000;
        
        hideCardElement.click(function(){
            hideCardElement.hide(interval);
            showCardElement.show(interval);
            cardElement.hide(interval);
        });
        
        showCardElement.click(function () {
            hideCardElement.show(interval);
            showCardElement.hide(interval);
            cardElement.show(interval);
        });
    </script>
}