@model Automarket.Domain.ViewModels.Car.CarViewModel
@{
    var textTitle = Model?.Id == 0 ? "Изменение данных" : "Добавление данных";
}

<form asp-controller="Car" asp-action="Save" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.Name" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Name">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Model" class="col-form-label"></label>
            <input class="form-control" asp-for="@Model.Model"/>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Price" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Price" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="@Model.Description" class="col-form-label"></label>
            <textarea type="text" class="form-control" asp-for="@Model.Description"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.TypeCar" class="col-form-label"></label>
            <select asp-for="@Model.TypeCar" class="form-control" id="carTypeId"></select>
        </div>
        <div class="form-group col-md-6">
            <label class="col-form-label">Изображение</label>
            <input asp-for="@Model.Avatar" class="form-control" type="file">
        </div>
    </div>
</form>

<script src="~/lib/select2/js/select2.full.min.js"></script>
<script>
   $('#carTypeId').select2({
      placeholder: "Выберите тип",
      minimumInputLength: 0,
      allowClear: true,
      ajax: {
           type: "POST",
           url: "@Url.Action("GetTypes", "Car")",
           dataType: "json",
           processResults: function (result) {
               return {
                   results: $.map(result, function (val, index) {
                       return {
                           id: index, 
                           text: val
                       };
                   }),
               };
           }
       }
   });
</script>

<style>
    label {
        color: black;
    }
</style>