@model List<Automarket.Domain.ViewModels.Order.OrderViewModel>

@{
    ViewBag.Title = "Корзина";
    Layout = "_Layout";
}

@{
    var cardStyle = "col-md-12";
    if (Model != null)
    {
        switch (Model.Count)
        {
            case 2:
                cardStyle = "col-md-6";
                break;
            case 3:
                cardStyle = "col-md-4";
                break;
        }
    }
}
@if (Model == null || Model.Count == 0)
{
    <div style="padding:40px;"></div>
    <div class="card col-md-12">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card-body">
                    <h5 class="card-title text-center">Список заказов пуст :(</h5>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="row row-cols-1 @cardStyle text-center">
                <div class="col" style="padding: 10px;">
                    <div class="card">
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(item?.Image ?? Array.Empty<byte>())"
                             class="img-fluid rounded-start rounded">
                        <div class="card-body">
                            <h5 class="card-title">Название автомобиля: @item.CarName</h5>
                            <p class="card-text">Тип: @item.TypeCar</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Модель: @item.Model</li>
                        </ul>
                        <div class="card-body">
                            <button class="btn btn-primary" onclick="openModal({ url: '/Basket/GetItem', data: '@item.Id' })"
                                    data-toggle="ajax-modal" data-target="Modal">Открыть</button>
                             <a asp-controller="Order" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>   
}