@model Automarket.Domain.ViewModels.Order.OrderViewModel

<div class="row">
    <div class="col-md-12">
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.Image ?? Array.Empty<byte>())"
             class="img-fluid rounded-start rounded">
    </div>
    <div class="col-md-6">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Авто: @Model.CarName</li>
            <li class="list-group-item">Модель: @Model.Model</li>
            <li class="list-group-item">Скорость: @Model.Speed</li>
            <li class="list-group-item">Тип: @Model.TypeCar</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="list-group list-group-flush">
           <li class="list-group-item">ФИО: @Model.FirstName @Model.LastName.Substring(0, 1) @Model.MiddleName.Substring(0, 1)</li>
            <li class="list-group-item">Адрес: @Model.Address</li>
            <li class="list-group-item">Дата создания: @Model.DateCreate</li>
       </ul> 
    </div>
</div>
